@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap");

body {
  background-color: #5ab9ea;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

ul {
  display: flex;
  gap: 1rem;
  justify-content: safe center;
  max-width: 90%;
  padding: 20px;
  list-style: none;
  overflow-x: auto;
}

li {
  display: grid;
  place-content: center;
  min-width: 60px;
  max-width: 60px;
  aspect-ratio: 1;
  padding: 0.3rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 0px 0px rgba(228, 61, 18, 0.75);
  cursor: pointer;
}

img {
  max-width: 100%;
}

button {
  padding: 1rem 3rem;
  background-color: rgba(228, 61, 18, 0.75);
  border: none;
  border-radius: 25px;
  box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.75);
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: #fff;
}

.guess,
.instrument {
  transition: all 0.2s ease-in-out;
}

.guess.selected {
  transform: translate(2.5px, 2.5px);
  box-shadow: 2.5px 2.5px 0px 0px rgba(228, 61, 18, 0.75);
}

.instrument.highlighted {
  transform: scale(1.2);
  margin: 0 10px;
}

.hidden {
  display: none;
}
